/* General Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #333;
}

.video-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
}

#background-video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

header {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px 0;
    position: relative;
    z-index: 1;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

header h1 {
    color: #f3f3f8;
    font-size: 24px;
    text-decoration: none;
    font-weight: bold;
}

header nav {
    position: relative;
}

header nav ul {
    list-style: none;
    display: flex;
}

header nav ul li {
    margin-left: 20px;
}

header nav ul li a {
    color: #fdfdfd;
    text-decoration: none;
    font-weight: 700;
    transition: color 0.3s;
}

header nav ul li a:hover {
    color: #984f13;
}

#menu {
    font-size: 1.5rem;
    border: 0;
    background: none;
    color: #fff;
    cursor: pointer;
    display: none; /* Hide by default */
    margin-left: auto; /* Aligns the hamburger to the right */
}

#menu::before {
    content: "☰";
}

#menu.open::before {
    content: "❎";
}

.nav-links {
    display: flex;
    margin-right: 1rem;
}

.nav-links.open {
    display: block;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
}

main {
    padding: 20px 0;
}

.places, .events {
    padding: 40px 20px;
    background-color: rgba(255, 255, 255, 0.8);
    margin-bottom: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h2 {
    font-size: 28px;
    margin-bottom: 20px;
    color: #333;
    text-align: center;
}

.cards {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 300px;
    margin: 20px;
    text-align: center;
    transition: transform 0.3s;
}

.card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.card h3 {
    font-size: 20px;
    margin: 10px 0;
    color: #661686;
}

.card p {
    font-size: 16px;
    padding: 0 20px 20px 20px;
    color: #555;
}

.card:hover {
    transform: scale(1.05);
}

.event-lists {
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.event-column {
    width: 48%;
}

.event-column h3 {
    font-size: 22px;
    margin-bottom: 10px;
    color: #661686;
}

.event-column ul {
    list-style: none;
}

.event-column ul li {
    font-size: 16px;
    margin-bottom: 8px;
    color: #555;
}

.testimonials-list {
    display: flex;
    flex-direction: column;
    align-items: center;
}

blockquote {
    background-color: #f9f9f9;
    border-left: 5px solid #420959;
    margin: 20px 0;
    padding: 20px;
    width: 80%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

blockquote p {
    font-size: 18px;
    margin-bottom: 10px;
}

blockquote footer {
    text-align: right;
    font-size: 16px;
    color: #555;
}

footer {
    background-color: rgba(81, 65, 65, 0.5);
    color: white;
    padding: 20px 0;
    text-align: center;
}

footer .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

footer p {
    margin: 0;
}

footer .social {
    display: flex;
}

footer .social a {
    color: white;
    font-size: 1.5em;
    margin-left: 20px;
    transition: color 0.3s, transform 0.3s;
}

footer .social a:hover {
    color: #4A235A;
    transform: scale(1.1);
}

footer .social img {
    font-size: 1.5em;
    margin-left: 0.5em;
    color: white;
    transition: color 0.3s, transform 0.3s;
    width: 30px;
    height: auto;
}

footer .social img:hover {
    background-color: #f1f0ee;
    transform: scale(1.2);
    border-radius: 5px;
}

/* Media Queries */
@media (max-width: 768px) {
    header .container {
        flex-direction: column;
    }

    header h1 {
        margin-bottom: 10px;
    }

    header nav {
        width: 100%;
    }

    header nav ul {
        flex-direction: column;
        align-items: center;
        display: none; /* Hidden by default */
        width: 30%; /* Full width */
        background: rgba(0, 0, 0, 0.8);
        position: absolute;
        top: 60px; /* Adjust based on header height */
        right: 0; /* Aligns menu to the right */
    }

    header nav ul.open {
        display: flex; /* Display when open */
    }

    header nav ul li {
        margin: 10px 0;
    }

    #menu {
        display: block; /* Show hamburger menu */
        position: absolute;
        right: 20px; /* Right side of the header */
        top: 20px; /* Aligns it vertically with the header */
    }

    .cards {
        flex-direction: column;
        align-items: center;
    }

    .event-lists {
        flex-direction: column;
    }

    .event-column {
        width: 100%;
    }

    footer .container {
        flex-direction: column;
    }

    footer .social {
        justify-content: center;
        margin-top: 10px;
    }
}
