/* Reset some default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    background-color: rgba(0, 0, 0, 0.6);
    color: #333;
    padding-top: 60px; /* Space for fixed header */
}

.video-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
}

#background-video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

header {
    background: #4A235A;
    color: #fff;
    padding: 10px 0;
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    z-index: 1000;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: auto;
    padding: 0 20px;
}

.hero a {
    font-size: 48px;
    margin-bottom: 10px;
    color: #f9f9f9;
}

header .logo {
    font-size: 1.5em;
    font-weight: bold;
    color: #fff;
}

header nav {
    position: relative;
    margin-left: auto; /* Add this line */
}

header nav ul {
    list-style: none;
    display: flex;
}

header nav ul li {
    margin-left: 20px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3s ease;
}

header nav ul li a:hover,
header nav ul li a.active {
    color: #FFD700;
}

#menu {
    font-size: 1.5rem;
    border: 0;
    background: none;
    color: #fff;
    cursor: pointer;
    display: none; /* Hide by default */
    position: absolute;
    right: 20px; /* Aligns the hamburger menu to the right */
    top: 10px;
    z-index: 1001; /* Ensure it is above the menu */
}

#menu::before {
    content: "☰";
}

#menu.open::before {
    content: "❎";
}

.nav-links {
    display: flex;
}

.nav-links.open {
    display: block;
    position: absolute;
    top: 60px; /* Adjust based on header height */
    right: 0; /* Align the menu to the right */
    background: rgba(0, 0, 0, 0.8);
    width: 250px; /* Adjust the width of the menu */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 10px;
}

.nav-links ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.nav-links ul li {
    margin: 10px 0;
    text-align: right;
}

.nav-links ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3s ease;
   
}

.nav-links ul li a:hover {
    color: #FFD700;
}

main {
    max-width: 1200px;
    margin: auto;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.9);
}

h1, h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #4A235A;
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.card {
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    background: #fff;
}

.card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.card h3 {
    background: #4A235A;
    color: #fff;
    margin: 0;
    padding: 10px;
    text-align: center;
}

.card p {
    padding: 10px;
    text-align: center;
    color: #333;
}

.card button {
    display: block;
    width: 80%;
    margin: 10px auto;
    padding: 10px;
    background: #4A235A;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.card button:hover {
    background: #633974;
}

/* Footer Styles */
footer {
    background-color: #633974;
    color: white;
    padding: 40px 0; /* Added padding for desktop view */
    position: relative;
    bottom: 0;
    width: 100%;
}

footer .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: auto;
    padding: 0 20px;
}

footer .footer-links {
    width: 95%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

footer .contact p {
    margin: 0.5em 0;
}

footer .social {
    display: flex;
}

footer .social img {
    font-size: 1.5em;
    margin-right: 1em;
    transition: color 0.3s, transform 0.3s;
    width: 30px;
    height: auto;
}

footer .social img:hover {
    background-color: #f9f9f9;
    transform: scale(1.2);
    border-radius: 5px;
}

/* Responsive Styles */
@media (max-width: 768px) {
    header .container {
        flex-direction: column;
    }

    header .logo {
        margin-bottom: 10px;
    }

    header nav ul {
        flex-direction: column;
        align-items: center;
        display: none; /* Hidden by default */
        width: 30%; /* Full width */
        background: rgba(0, 0, 0, 0.8);
        position: absolute;
        top: 60px; /* Adjust based on header height */
        left: 0;
        padding: 10px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
        border-radius: 5px;
    }

    header nav ul.open {
        display: flex; /* Display when open */
    }

    header nav ul li {
        margin: 10px 0;
    }

    #menu {
        display: block; /* Show hamburger menu */
    }

    .cards {
        grid-template-columns: 1fr;
    }

    footer {
        padding: 20px 0; /* Reduced padding for mobile view */
    }

    footer .contact p {
        text-align: center;
        width: 100%;
    }

    footer .social {
        justify-content: center;
        width: 100%;
    }
}
