
/* This is to remove any unwanted padding and margins*/
* {
    margin: 0;              
    padding: 0;
    box-sizing: border-box;
}
:root {
    --primary-color: #d2232a;
    --secondary-color: #ffffff;
    --accent-color: #2a702f;
    --font-family: 'Arial', sans-serif;
}

body {
    font-family: var(--font-family);
    margin: 0;
    padding: 0;
    color: var(--primary-color);
    background-color: var(--secondary-color);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    text-align: center;
    padding: 1rem;
}

h1 {
    font-size: 2rem;
    margin: 0;
}

main {
    flex: 1;
    padding: 1rem;
    text-align: center;
}

#hero {
    position: relative;
}

#hero img {
    width: 100%;
    height: auto;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    padding: 2rem;
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: auto;
    background: rgba(243, 128, 132, 0.5);
    flex-wrap: wrap;
}

#data, #weather {
    background: rgba(255, 255, 255, 0.8);
    padding: 1rem;
    border-radius: 8px;
    flex: 1 1 30%;
    margin: 1rem;
    max-width: 30%;
    text-align: center;
    position: relative;
}

#data::after, #weather::after {
    content: '';
    display: block;
    height: 4px;
    position: absolute;
    bottom: -4px;
    left: 0;
    width: 85%;
}

h2 {
    color: var(--accent-color);
    font-size: 1.5rem;
    border-bottom: 2px solid var(--accent-color);
    padding-bottom: 0.5rem;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

.weather-icon {
    font-size: 1.5rem;
    color: var(--accent-color);
}

/* .weather-icon-svg {
    display: none;
    width: 1.5rem;
    height: auto;
    vertical-align: middle;
} */

footer {
    text-align: center;
    padding: 1rem;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    position: relative;
    width: 100%;
    margin-top: auto;
}

@media (max-width: 768px) {
    .overlay {
        flex-direction: column;
        align-items: center;
        padding: 1rem;
    }

    #data, #weather {
        max-width: 100%;
        margin: 0.5rem 0;
    }

    .weather-icon {
        display: none;
    }

    .weather-icon-svg {
        display: inline;
    }

    footer {
        position: relative;
        bottom: 0;
        width: 100%;
    }
}
